<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %> </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
     <%= render 'layouts/shim' %>
      <%= render 'layouts/default' %>
  </head>

  <body>
   <%= render 'layouts/header' %>
   <div class="container">
    <% flash.each do |mesg_type,mesg| %>
        <div class="alert alert-<%= mesg_type %>">
        <%= mesg %>
        </div>
    <% end %>
      <%= yield %>
    </div>
  </body>
</html>
